#fb-root
:javascript
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : "#{FB[:API_KEY]}",     // App ID from the app dashboard
      channelUrl : "#{FB[:CHANEL_URL]}",  // Channel file for x-domain comms
      status     : "#{FB[:STATUS]}",      // Check Facebook Login status
      cookie     : "#{FB[:COOKIES]}",     // enable cookies to allow the server to access the session
      xfbml      : "#{FB[:XFBMLl]}"       // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=474033656000471";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

.row-fluid.show-grid
  .span12.exito
    .row-fluid.show-grid
      .span4
        = image_tag @experience.image
      .span8
        .well
          %h6.title= t('helpers.purchase.title', experience:@experience.name)
          %p= t('helpers.purchase.success', zona: @corporative.zona)
          %p
            %strong
              %em= t('helpers.purchase.send_instructions')
        .well.well-fb
          .row-fluid
            .span10
              = t('helpers.purchase.share', efi: @corporative.name)
            .span2
              .fb-send.pull-right{data: {href: corporative_event_url(@event, corporative_id: @corporative.search_name)}}
    .linea
