- model_class = Experience
.page-header
  %h1= model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:discounted_price)
      %th= model_class.human_attribute_name(:place)
      %th= model_class.human_attribute_name(:validity_starting_at)
      %th= model_class.human_attribute_name(:validity_ending_at)
      %th= model_class.human_attribute_name(:swaps)
      %th= t("helpers.actions")
  %tbody
    - @experiences.each do |experience|
      %tr{class: experience.in_state?([:step1, :step2, :pending]) ? 'warning' : ''}
        %td
          - if can?(:validate, Purchase) and experience.in_state?([:pending, :published, :on_sale, :closed])
            = link_to trim_to(experience.name, 20).html_safe, eco_experience_purchases_path(experience)
          - else
            = trim_to(experience.name, 20).html_safe
        %td= number_to_currency experience.discounted_price, presicion: 1
        %td= trim_to(experience.place, 20).html_safe
        %td=l experience.validity_starting_at, format: :short
        %td=l experience.validity_ending_at, format: :short
        %td= number_to_currency experience.swaps, unit: ''
        %td
          - if can? :read, experience
            = link_to eco_experience_path(experience), class: 'btn btn-link custom-btn-icon custom-btn-icon-mini custom-btn-icon-primary' do
              %i.icon-eye-open

          - if experience.in_state? [:step1, :step2, :step3, :pending]
            - if can? :update, experience
              = link_to eco_experience_steps_path(experience_id: experience.id), class: 'btn btn-link custom-btn-icon custom-btn-icon-mini custom-btn-icon-inverse' do
                %i.icon-pencil

            - if can? :destroy, experience
              = link_to eco_experience_path(experience), method: :delete, data: {confirm: t("helpers.links.confirm.destroy")}, class: 'btn btn-link custom-btn-icon custom-btn-icon-mini custom-btn-icon-inverse' do
                %i.icon-trash

- if can? :create, model_class
  .pull-right
    - if current_user_eco.eco_bigger?
      = link_to t("helpers.links.new"), eco_experience_steps_path,   class: ' btn btn-large btn-warning'
    - else
      = link_to t("helpers.links.new"), eco_experience_steps_path, class: 'btn btn-large btn-warning'
