.row
  .span12
    - if @experiences.empty?
      %p.empty No hay experiencias activas.

    - @experiences.each do |experience|
      = render partial: '/shared/experience', locals: { experience: experience }

.row
  .span12.panel.filters.tabbable
    %ul#experience-filter.nav.nav-pills
      %li.filter.active
        = link_to '#draft', data: { toogle: 'pill' } do
          %span.title Por Revisar
          %span.count ( #{@experience_drafts.count} )
      %li.filter
        = link_to '#published', data: { toogle: 'pill' } do
          %span.title Publicadas
          %span.count ( #{@published_experiences.count} )
      %li.filter
        = link_to '#expired', data: { toogle: 'pill' } do
          %span.title Terminadas
          %span.count ( #{@expired_experiences.count} )

    / %span.search-box
    /   %input{placeholder: "Ingrese palabras claves", type: "text"}
    /     %button.btn{type: "button"} Buscar

.tab-content
  #draft.tab-pane.active
    - if @experience_drafts.empty?
      %p.empty No hay experiencias por revisar

    .row
      .span12
        - @experience_drafts.each do |experience|
          = render partial: '/shared/experience', locals: { experience: experience }

  #published.tab-pane
    - if @published_experiences.empty?
      %p.empty No hay experiencias publicadas

    .row
      .span12
        - @published_experiences.each do |experience|
          = render partial: '/shared/experience', locals: { experience: experience }
  #expired.tab-pane
    - if @expired_experiences.empty?
      %p.empty No hay experiencias terminadas

    .row
      .span12
        - @expired_experiences.each do |experience|
          = render partial: '/shared/experience', locals: { experience: experience }