.row-fluid.invoice-row
  .span5.offset1
  .span2
    .value.right Ingreso
  .span1
    .value.center Comisión
  .span2
    .value.right Total a Pagar

- experiences.each do |e|
  .row-fluid.invoice-row
    .span5.offset1
      .value.text-value.left
        = e[:experience]
    .span2
      .value.right
        = number_to_currency e[:income]
    .span1
      .value.text-value.center
        = "#{number_to_currency(e[:charge])} (#{e[:fee]}%)"
    .span2
      .value.right
        = number_to_currency e[:to_pay]

.row-fluid.action-row
  .span5.offset6
    .value.right
      = link_to "Ver Detalle", detail_eco_billings_path, class: "btn btn-flat"