.span4.experience
  = link_to efi_experience_path(experience.id) do
    

    %span4.info.experience_more.text-left.dn
      .containereffect  
        .imgex
          %h4= image_tag experience.image
        .infoex 
          %h3.nameExperience{}= experience.name
          %h5.expsummary{}= experience.summary
          .valor.background-transparencia-negra
            .pullrightPrice
              %span= number_to_currency experience.discounted_price
          
    %span.info.experience_info
      %h4.altimg= image_tag experience.image
      
        
        
      