- model_class = Experience
.row-fluid
  .span12.encabezado
    %h1= @experience.name
    %h6.interesFutbol= @experience.summary

%hr.linea2

.row-fluid
  .span7
    .well.well-small.intereses
      = Interest.model_name.human.pluralize + ':'
      - @experience.interests.each_with_index do |interest, index|
        - if index == 0
          %span.interesMayor.label.label-inverse= interest.name
        - elsif index == 1
          %span.label.label-important= interest.name
        - else
          %span.label.label-warning= interest.name
    %dl.dl-horizontal
      %dt= Experience.human_attribute_name(:place)
      %dd= @experience.place.presence || '-'

      %dt= Experience.human_attribute_name(:validity_starting_at)
      %dd= l @experience.validity_starting_at, format: :datepicker
      %dt= Experience.human_attribute_name(:validity_ending_at)
      %dd= l @experience.validity_ending_at, format: :datepicker
      %dt= model_class.human_attribute_name(:amount) + ':'
      %dd= number_to_currency(@experience.amount, precision: 0).presence || '-'

      %dt= model_class.human_attribute_name(:starting_at) + ':'
      %dd= l @experience.starting_at, format: :short

      %dt= model_class.human_attribute_name(:ending_at) + ':'
      %dd= l @experience.ending_at, format: :short

      %dt= model_class.human_attribute_name(:swaps) + ':'
      %dd= number_to_currency(@experience.swaps, unit: '').presence || '-'

      %dt= model_class.human_attribute_name(:codes) + ':'
      %dd
        - if @experience.codes.any?
          - @experience.codes.each_with_index do |code, index|
            - if index > 0
              |
            = code
        - else
          = '-'

      %dt= model_class.human_attribute_name(:category) + ':'
      %dd= @experience.category_name.presence || '-'

      %dt= model_class.human_attribute_name(:available_efis) + ':'
      - if @experience.available_efis.any?
        - @experience.available_efis.order(:name).each do |efi|
          %dd= efi.name
      - else
        %dd= '-'

      %dt= model_class.human_attribute_name(:valid_images) + ':'
      - if @experience.valid_images.any?
        - @experience.valid_images.each do |valid_image|
          %dd= link_to valid_image.image_file_name, valid_image.image.url, target: :_blank
      - else
        %dd= '-'
  .span5.text-right
    = image_tag @experience.image.presence || 'default_experiencia.png'
    %hr.linea
.row-fluid.contenidoEcoModulosexperiencia
  .span4.well
    %strong
      = model_class.human_attribute_name(:exchange_mechanism) + ':'
    %p
      = @experience.exchange_mechanism
  .span4.well
    %strong
      = model_class.human_attribute_name(:conditions) + ':'
    = raw @experience.conditions
  .span4.well
    %strong Detalle
    = @experience.details.html_safe


.form-actions.text-right
  - if can? :read, model_class
    = link_to t("helpers.links.back"), puntos_point_experiences_path, class: 'btn'
  - if can? :update, @experience
    = link_to t("helpers.links.edit"), puntos_point_experience_steps_path(experience_id: @experience.id), class: 'btn'
  - if can? :destroy, @experience
    = link_to t("helpers.links.destroy"), puntos_point_experience_path(@experience), method: :delete, data: {confirm: t("helpers.links.confirm.destroy")}, class: 'btn btn-danger'
