
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align:center;width:100%;min-height:100%;", :width => "100%"}
  %tbody
    %tr
      %td{:style => "vertical-align: top;"}
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align:left; table-layout:fixed; width:650px; margin:10px auto;font:12px/15px 'Verdana',Geneva,sans-serif; background-color:#ededed; border: 1px solid #666666;", :width => "100%"}
          %thead
            %tr
              %th{:colspan => "2", :style => "background-color:#363636; height: 40px;"}
            %tr
              %th{:colspan => "2", :style => "background-color:#f6a704; height: 1px;"}
            %tr
              %th
                %h1
                  %img{:alt => "Puntos Point", :src => "http://54.225.244.183/assets/logo_grande-d2bde93f4c0723fd8ee797e8700fc6e4.png", :style => "width:160px; padding:15px 15px 0 10px", :title => "Puntos Point"}
          %tbody
            %tr
              %td{:colspan => "2", :style => "background-color:#b3b3b3; height: 1px;"}
            %tr
              %td{:colspan => "2", :style => "background-color:#ffffff; height: 1px;"}
            %tr
              %td{:colspan => "2", :style => "padding:10px;"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font:12px/15px 'Verdana',Geneva,sans-serif;", :width => "100%"}
                  %tbody
                    %tr
                      %td
                        %img{:alt => "Puntos Point", :src => "#{Rails.configuration.default_url_options[:host]}#{@experience.image.url(:original, timestamp: false)}", :style => "width:200px; border:10px solid #fff;", :title => "Puntos Point"}
                      %td{:style => "padding:10px;"}
                        %h3= @experience.name
                        %h4{:style => "font:bold; color:#006699;"}= @experience.summary
                        %p
                          %strong= Experience.human_attribute_name(:place)
                          = @experience.place
                        %p
                          %strong= Experience.human_attribute_name(:comuna)
                          = @experience.comuna_name
                        %p
                          %strong= Experience.human_attribute_name(:validity_starting_at)
                          = I18n.l @experience.validity_starting_at, format: :long

                        %p
                          %strong= Experience.human_attribute_name(:validity_ending_at)
                          = I18n.l @experience.validity_ending_at, format: :long
            %tr
              %td{:colspan => "2", :style => "padding:10px;"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font:12px/15px 'Verdana',Geneva,sans-serif;", :width => "100%"}
                  %tbody
                    %td{:width => "48%", :style => "vertical-align: top;"}
                      %p{:style => "background-color:#dddddd; padding:10px; margin-right:5px;"}
                        Ticket de Compra
                        %strong= @purchase.code
                      %p{:style => "background-color:#dddddd; padding:10px; margin-right:5px;"}
                        = Purchase.human_attribute_name(:reference_codes)
                        - @purchase.reference_codes.each do |rc|
                          %strong{:style => "display: block; text-align: center;"}= rc
                    %td{:width => "48%", :style => "background-color:#dddddd; padding:10px;"}
                      %p
                        %strong= Experience.human_attribute_name(:exchange_mechanism)
                      %p
                        = raw @experience.exchange_mechanism.gsub(/<\/?[^>]+>/, '')
