.panel
  .row-fluid
    .span4.offset1
      %h1 Por Pagar
    .span6.prepend1
      %h1.right= number_to_currency @billing_manager.total_to_pay

  - if @to_pay_invoices.empty?
    %p.empty No hay facturas por pagar
  - else
    .row-fluid.invoice-row{ style: 'margin-top: 30px;' }
      .span3.offset1
        .value Emisión
      .span3
        .value Período de Facturación
      .span2
        .value.right Total a Pagar
      .span3 Acciones

    .row-fluid
      .span10.offset1.prepend1
        .border{ style: 'margin: 0' }

    - @to_pay_invoices.each do |i|
      .row-fluid.invoice-row
        .span3.offset1
          .value= l i.created_at, format: :long_date
        .span3
          .value{ style: 'line-height: 20px' }
            = "Desde: #{l(i.billing_started_at, format: :api)}"
            %br
            = "Hasta: #{l(i.billing_ended_at, format: :api)}"
        .span2
          .value.right= number_to_currency i.total
        .span3
          = form_tag puntos_point_billing_path(@efi.id, i.id), method: 'PUT' do
            = submit_tag 'Pagada', class: 'btn btn-flat'