.span4.experience
  = link_to efi_experience_path(experience.id) do
    

    %span4.info.experience_more.text-left.dn
      .containereffect  
        .imgex
          %h4= image_tag experience.image
        .infoex 
          %h3.nameExperience{}= experience.name
          %h5.expsummary.nameExperience{}= experience.summary
          .pull-left.exprice= number_to_currency experience.discounted_price
          .pull-right
          %span.label.label-warning= number_to_percentage experience.get_discount_percentage, precision: 0
    %span.info.experience_info
      %h4= image_tag experience.image
      
        
        
      
    