= render 'experience_details'

- if @event.new_record?
  .row-fluid
    .span12.well
      = simple_form_for [:efi, @experience, @event] do |f|
        .controls-row.exclusibilty
          .span3
            %h2= t('helpers.titles.participate_with')
          .span3
            %label.btn.btn-large{class: (@experience.available_total_exclusivity? and @experience.total_exclusivity_enabled?) ? 'btn-success' : 'disable'}
              %i.icon-star
              .text-left.pull-left
                - if @experience.available_total_exclusivity? and @experience.total_exclusivity_enabled?
                  %input{checked: true, name: "event[exclusivity_id]", type: :radio, value: Exclusivity.total_id, class: 'dn', data: {quantity: @experience.swaps}}
                = Exclusivity.model_name.human
                %br
                = t('views.exclusivity.total')
            %h6
              = number_to_currency @experience.swaps, unit: ''
              %span= t('views.swaps')
          .span3
            %label.btn.btn-large{class: (@experience.available_exclusivity_by_industry?(current_user_efi.efi) and @experience.by_industry_exclusivity_enabled?) ? 'btn-success' : 'disable'}
              %i.icon-suitcase
              .text-left.pull-left
                - if @experience.available_exclusivity_by_industry?(current_user_efi.efi) and @experience.by_industry_exclusivity_enabled?
                  %input{checked: true, name: "event[exclusivity_id]", type: :radio, value: Exclusivity.by_industry_id, class: 'dn', data: {quantity: @experience.industry_swaps(current_user_efi.efi)}}
                = Exclusivity.model_name.human
                %br
                = t('views.exclusivity.by_industry')
            %h6
              = number_to_currency @experience.industry_swaps(current_user_efi.efi), unit: ''
              %span= t('views.swaps')
          .span3
            %label.btn.btn-large{class: (@experience.available_without_exclusivity? and @experience.without_exclusivity_enabled?) ? 'btn-success' : 'disable'}
              %i.icon-group
              .text-left.pull-left
                - if @experience.available_without_exclusivity? and @experience.without_exclusivity_enabled?
                  %input{checked: true, name: "event[exclusivity_id]", type: :radio, value: Exclusivity.without_id, class: 'exchange dn', data: {quantity: 0}}
                = t('views.exclusivity.without')
                %br
                = Exclusivity.model_name.human

        .controls-row.event_form{class: @event.errors.any? ? '' : 'dn'}
          .span2
          .span8
            .swaps_field.clearfix{class: (@event.errors.any? and @event.exclusivity_id == Exclusivity.without_id) ? '' : 'dn'}
              = f.input :swaps, input_html: {class: 'input-mini min_max', value: @experience.minimum_without_swaps, data: {max: @experience.swaps, min: @experience.minimum_without_swaps}}

            .quantity_field.clearfix{class: (@event.errors.any? and @event.exclusivity_id != Exclusivity.without_id) ? '' : 'dn'}
              .control-group.integer.optional.event_quantity
                = f.label :quantity
                .controls
                  %span.input-large.uneditable-input.span2= @event.quantity

            .well.exchanges_list
              #exchanges
                %h6= Exchange.model_name.human.pluralize

                - if @event.errors[:exchanges].any?
                  .control-group.error
                    = f.error :exchanges


                = f.simple_fields_for :exchanges do |builder|
                  = render 'efi/events/event_fields', :f => builder

                .links
                  = link_to_add_association f, :exchanges, partial: 'efi/events/event_fields', class: 'btn btn-icon btn-icon-mini pull-right btn-warning' do
                    %i.icon-plus
                    = t('views.links.add')

              .clearfix
            .clearfix
              .show-grid
                .text-right
                  = f.button :submit, t('views.links.participate'), class: 'btn btn-large btn-warning', data: {confirm: t("helpers.links.confirm.participate")}


- if @show_modal
  = render 'efi/experiences/success'