- model_class = UserEfi
.page-header
  %h1= model_class.model_name.human

%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:rut) + ':'
  %dd= Run.format @user_efi.rut
  %dt= model_class.human_attribute_name(:full_name) + ':'
  %dd= @user_efi.full_name
  %dt= model_class.human_attribute_name(:nickname) + ':'
  %dd= @user_efi.nickname
  %dt= model_class.human_attribute_name(:email) + ':'
  %dd= @user_efi.email
  %dt= model_class.human_attribute_name(:efi) + ':'
  %dd= @user_efi.efi_name
  %dt= model_class.human_attribute_name(:mod_client) + ':'
  %dd= booleanize @user_efi.mod_client


.form-actions
  - if can? :destroy, @user_efi
    = link_to t("helpers.links.destroy"), puntos_point_user_efi_path(@user_efi), method: :delete, data: {confirm: t("helpers.links.confirm.destroy")}, class: 'btn btn-danger pull-right ml-10'
  - if can? :update, @user_efi
    = link_to t("helpers.links.edit"), edit_puntos_point_user_efi_path(@user_efi), class: 'btn btn-warning pull-right ml-10'
  - if can? :read, model_class
    = link_to t("helpers.links.back"), puntos_point_user_efis_path, class: 'btn btn-inverse pull-right'

