%p= t('devise.views.mail.hello', email: @resource.email)
%p= t('devise.views.mail.requested_link')

%p= link_to t('devise.views.links.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p= t('devise.views.mail.ignore_email')
%p= t('devise.views.mail.password_until_change_you_access')
