- model_class = UserEfi
.page-header
  %h1= t('helpers.titles.edit_profile', :model => model_class.model_name.human.camelize)


= simple_form_for [:efi, @user_efi] do |f|
  .row-fluid
    = f.simple_fields_for :efi do |builder|
      .span3
        = image_tag @user_efi.efi_logo, class: 'img-polaroid'
        = builder.input :logo, label: false

      .span3.well.wellEfi
        = builder.input :name, input_html: {class: "span12"}
        = builder.input :rut, input_html: {class: "span12"}

      .span6.well.wellEfi
        .row-fluid
          .span6
            = f.input :rut, input_html: {class: "span12"}
            = f.input :names, input_html: {class: "span12"}
            = f.input :first_lastname, input_html: {class: "span12"}
            = f.input :second_lastname, input_html: {class: "span12"}
          .span6
            = f.input :nickname, input_html: {class: "span12"}
            = f.input :email, input_html: {class: "span12"}
            = f.input :password, input_html: {class: "span12"}
            = f.input :password_confirmation, input_html: {class: "span12"}

      .form-actions.pull-right
        = f.button :submit, class: 'btn-warning'

