<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CMR</title>

    <style media="screen" type="text/css">
      @font-face {
        font-family: 'PFBeauSansPro-Regular';
        src: url(<%= Rails.root.join('app', 'assets', 'stylesheets', 'webfonts', '289A27_0_0.eot').to_s %>);
        src: url(<%= Rails.root.join('app', 'assets', 'stylesheets', 'webfonts', '289A27_0_0.eot?#iefix').to_s %>) format('embedded-opentype'),
             url(<%= Rails.root.join('app', 'assets', 'stylesheets', 'webfonts', '289A27_0_0.woff').to_s %>) format('woff'),
             url(<%= Rails.root.join('app', 'assets', 'stylesheets', 'webfonts', '289A27_0_0.ttf').to_s %>) format('truetype');
       font-weight: normal;
       font-style: normal;
      }
      @font-face {
        font-family: 'PFBeauSansPro-XThin';
        src: url(<%= Rails.root.join('app', 'assets', 'stylesheets', 'webfonts', '289972_0_0.eot').to_s %>);
        src: url(<%= Rails.root.join('app', 'assets', 'stylesheets', 'webfonts', '289972_0_0.eot?#iefix').to_s %>) format('embedded-opentype'),
             url(<%= Rails.root.join('app', 'assets', 'stylesheets', 'webfonts', '289972_0_0.woff').to_s %>) format('woff'),
            url(<%= Rails.root.join('app', 'assets', 'stylesheets', 'webfonts', '289972_0_0.ttf').to_s %>) format('truetype');
        font-weight: normal;
        font-style: normal;
      }
      body {
        font-family: 'PFBeauSansPro-Regular';
        color: grey;
        width: 738px;
        margin: 0;
        margin-left: 29px;
      }
      .PFBeauSansPro-Regular {
        font-family: 'PFBeauSansPro-Regular';

      }
      .PFBeauSansPro-XThin {
        font-family: 'PFBeauSansPro-XThin';
      }
      .container {
      }
      .title {
        font-size: 35px;
        color: #333;
        padding-top: 10px;
      }
      .info{
        padding-bottom: 50px;
        padding-top: 10px;
        height: 50px;
      }
      .action {
        color: #999;
        font-size: 20px;
        font-weight: bold;
        font-family: 'PFBeauSansPro-XThin';
      }
      .product {
        color: #55b948;
        font-size: 23px;
      }
      .points {
      background: none repeat scroll 0 0 #F3F3F3;
       border-right: 10px solid #D4D4D4;
      width: 240px;
       padding-top: 10px;
       float: left;
      margin-left: 80px;
      }
      .canjeados {
          font-family: 'PFBeauSansPro-Regular';
          font-size: 12px;
          color: #999999;
      }
      .total {
        color: #55b948;
        font-size: 40px;
      }
      .dotted {
      }
      .instructions {
        border-top: 2px dotted #CCCCCC;
        height: 170px;
        padding-top: 10px;
        width: 750px;
      }
      .instructions .col1{
      border-right: 1px solid #f3f3f3;
      float: left;
      width: 350px;
      padding-right: 20px;
      }
      .instructions .col1 .titulo{
        padding-top: 10px;
        font-size: 16px;
      }
      .instructionsEnd .col3{
      border-right: 1px solid #f3f3f3;
      float: left;
      width: 370px;
      }
      .instructionsEnd .col3 .titulo{
        padding-top: 10px;
        font-size: 16px;
      }
      .instructions .col2  img{
      }
      .instructions .col2{
      width: 310px;
      float: left;
      padding-left: 40px;
      }
      .instructions .col2 .titulo{
      padding-top: 10px;
      font-size: 16px;
      }
      .instructionsEnd .col4 .titulo{
      padding-top: 10px;
      font-size: 16px;
      }
      .validation {
        font-size: 12px;
        border-bottom: 5px solid #55b948;
        text-transform: uppercase;
        margin-left: 15px;
        line-height: 40px;
        float: left;
      }
      .instructionsEnd .col4{
      width: 290px;
      float: left;
      padding-left: 40px;
      }
      .icon {
        float: left;
        padding-right: 20px;
      }
      .col1 ul{
        line-height: 20px;
        padding-left: 60px;
        padding-top: 12px;
        font-size: 12px;
      }
      .col2 ul {
        line-height: 20px;
        padding-left: 60px;
        padding-top: 12px;
        font-size: 12px;
      }
      .topDetails {
        text-align: center;
        text-transform: uppercase;
        width: 740px;
      }
      .detail {
        float: left;
        padding-top: 10px;
        width: 350px;
      }
      .instructionsEnd {
        border-top: 2px dotted #CCCCCC;
        border-bottom: 2px dotted #CCCCCC;
        height: 160px;
        margin-bottom: 20px;
        padding-top:10px;
      }
      .codes {
        margin-left: 40px;
        width: 360px;
      }
      .security {
      }
      .securityCode {
        color: #CCCCCC;
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 15px;
      }
      .conditions {
        background-color: #F2F2F2;
        border-radius: 10px 10px 10px 10px;
        font-size: 12px;
        padding: 10px 20px 20px;
        margin-bottom: 10px;
      }
      .conditions li {
            line-height: 16px;
            padding: 5px 0;
      }
      .conditions .Title{
        background: none repeat scroll 0 0 #CCCCCC;
        border-radius: 0 0 0 0;
        color: #FFFFFF;
        height: 0;
        margin: -20px 240px 0;
        padding-top: 10px;
        text-align: center;
        width: 200px;
      }
      .conditions p{
      }
      .footer p{
        font-size: 10px;
        text-align: center;
        color: #434242;
      }
    </style>

  </head>
  <body>
    <%= yield %>
  </body>
</html>

<!--Kolorsheep 2013-->